<div class="panel panel-primary" style="padding-top: 30px; padding-left: 20px;">
    <div class="panel-heading">
        <h1> Appointment List </h1>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Doctor name and surname</th>
                        <th>Cancel Appointment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointments">
                        <td>
                            {{appointment.appointmentId}}
                        </td>
                        <td>
                            {{appointment.date}}
                        </td>
                        <td>
                            {{appointment.time}}
                        </td>
                        <td>
                            {{appointment.name + appointment.surname}}
                        </td>
                        <td>
                            <Button>Cancel appointment</Button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>